@{
    ViewBag.Title = "Index";
    ViewBag.PageCSS = "site.css";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="section">
    <div id="sectionText">
        <div id="text">
            <h1>SAMTEK</h1>
            <h2>Profesyonel çözümlerle teknik servis hizmetleri.</h2>
        </div>
    </div>
</div>
<div id="about">
    <div id="aboutText">
        <h1 style="color: black;">Hakkımızda</h1>
        <h2>On yıllardır markamız piyasanın önde gelen isimlerinden.</h2>
        <h2>Daha sıkı ve çözüm odaklı çalışmlarala markamızı devam ettiriyoruz. </h2>
    </div>
</div>
<div id="services">
    <div id="servicesText">
        <h2>Hizmetlerimiz</h2>
        <hr>
    </div>
    <div id="servicesOne">
        <h4>Bilgisayar</h4>
        <p>Dizüstü, masa üstü her türden bilgisayarlar <br> tamir edilir.</p>
    </div>
    <div id="servicesTwo">
        <h4>Telefon</h4>
        <p>Her marka telefon teknik servisimiz tarafından <br> kabul edilir.</p>
    </div>
    <div style="clear: both;"></div>
</div>

